body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#hero {
  height: 100vh;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.skills-list {
  display: flex;
  justify-content: center;
}

.skill {
  margin: 10px;
  padding: 20px;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.skill:hover {
  background-color: #6dd5ed;
}

#projects {
  background-color: #f4f4f4;
}

.project-item {
  padding: 20px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button {
  background-color: #2193b0;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6dd5ed;
}


footer {
  background-color: gray;
  color: white;
  padding: 1rem;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10;
  z-index: 100;
}
